%h1 Listing messages

%table
  %tr
    %th Body
    %th User
    %th Channel
    %th
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.body
      %td= message.user
      %td= message.channel
      %td= link_to 'Show', message
      %td= link_to 'Edit', edit_channel_message_path(message)
      %td= link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Message', new_channel_message_path
