%p#notice= notice

%p
  %b Body:
  = @message.body
%p
  %b User:
  = @message.user
%p
  %b Channel:
  = @message.channel

= link_to 'Edit', edit_message_path(@message)
\|
= link_to 'Back', messages_path
