!!!
%html
  %head
    %title Gudaru
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header
      %nav.navbar.navbar-inverse
        .navbar-inner
          = render "layouts/header"

    %section
      = yield

    %footer
      = render "layouts/footer"
